 

.mail-record-box, .confirmmsgBox {
    margin: 50px;
    padding: 10px;
    width: 1250px;;
     height: 600px;
 
 
    box-shadow: 0 0px 70px rgb(0 0 0 / 10%);
    margin: auto;
    top: 100px;
     
    display: none;
}

.mail-record-box.active  {
    display: flex;
     
}

.mail-record-box table, .mail-record-box table tbody {
    width: 1200px;
}
.mail-record-box-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
   
}

.mailModal{
     position: fixed;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
  
    width: auto;
    height: auto;

 
}
 

.mailModal.active {
      transform: translate(-50%,-90%) scale(1);
}

.mail-record-box-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #352424;
    color: white;
}
.mail-record-box-table td, .mail-record-box-table th {
    border: 1px solid #ddd;
    padding: 8px;
}


.mailbox-mainLayer{

    display: flex;
    
border-radius: 5px;
    border-top: 10px solid #800000;
    flex-direction: column;
    background-color: #ffffff;
}
.mail-content-box{
   margin: 20px;
    width: 670px;
    height: auto;
}

.mailModal-sideBar{

    width: 133px;
    background-color: #f5f5f5;
    margin-right: 10px;
    border-radius: 10px;
}
.maibox-content{
   
}
.maibox-list{
    width: 332px;
    overflow: scroll;
    overflow-x: hidden;
}

.mail-content-box>div{
margin: 10px;

}
.mail-button{
   margin: 10px 0 10px 0;
    background-color: transparent;
    width: 133px;
    height: 65px;
    font-family: "Times New Roman",Times,serif;
    font-size: 22px;
        padding-left: 5px;
        padding-top:20px;
}

.mail-content-ctn{

    overflow: scroll;
     overflow-x: hidden;
     background-color: #ffffff;
}

.mailSubmitBox{
    
        z-index: 10;
    width: 653px;
    height: auto;
border-radius: 20px;
    background-color: #f8f8f8;
   margin-left: 27px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);

    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
}

.mailTextAreaForContent{
background-color:transparent;
color:black;
padding: 10px;
}
.mailTextAreaForReply{

    margin: 3px;
}
.mail-content-replay{
border: none;
    border-radius: 10px;

}
.mail-replay-title{
  
}
.mailSubmitBox.active {
    transform: translate(-1%,-29%) scale(1);
}
 
.replayIcon{
       margin: 9px 8px -2px 12px;
}

.mail-list-summary-one{
    display:flex;
        border-top: 1px solid #d0cccc;
        padding: 10px 5px 5px 8px;
         
}
.mail-list-titleAndcontent {
     margin-right: 21px;
    width: 187px;
    height: 60px;
    overflow: hidden;
}
.mail-list-title {
    font-weight: 900;
}
.mail-list-date {
    margin-top: 21px;
    width: 85px;
}
.mail-list-summary-one:hover {
    background-color: #e6f2fa;
   
}
 .mailListHover {
    background-color: #e6f2fa;
    border-left: solid 5px #b1d6f0;
}
 .mail-button:hover {
    background-color: #e9e5e5;
 font-weight:800;
    
}
 .mailbuttonHover {
    background-color: #e9e5e5;
    font-weight:800;
        border-left: solid 5px #800000;
    
}
.mail-List-Close{


}
.mail-list-filter-Box{
display: flex;
    width: 900px;
    height: 33px;
    padding-top: 3px;
    border-radius: 5px;
    margin: 7px 0 8px 69px;
    background-color: #dfdddd;
    padding-left: 10px;
   
}
.mailbox-mainLayer-top{
    display: flex;
    background-color: white;;
  
    border-radius: 9px;
 
}
.mailBoxFilterTitle{
   font-weight: 900;
    font-size: 28px;
    margin-left: 15px;
    padding-top: 3px;
}
.mail-List-Close{

position: absolute;
    right: 32px;
    top: 18px;
    width: 30px;
    height: 30px;
    opacity: 0.3;

}
.maibox-list{
    background-color: #ffffff;
    
    border-radius: 10px;

}
 
.mail-list-summary-one--isRead{
    background-color: #e6f2fa;
    border-left: solid 5px blue;
}
.mail-list-submit-box-cancel{

  cursor: pointer;
    position: absolute;
    right: 15px;
    top: 8px;
}

.mail-list-title-style{

    font-weight: 900;
    font-size: 14px;
}
.mail-list-content-title-relevantReport{
 font-weight: 500;
 margin-left:350px;
 cursor: pointer;
 text-decoration: underline;
}
.mailBoxTitle{
    display:flex;
}