 

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;

  outline: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
.loginLogo{
color: white;
    font-size: 17px;
    margin-bottom: 50px;
    font-weight: 900;
}
.headerLoginOut{
 display:flex;
 gap:10px;
 margin-bottom: 10px;
}

body {
  margin: 0px;
  font-family: Georgia;
}
.homePageCTN{
      width: auto;
   
}
#header {
  width: 1715;
  background-color: #888888;
  padding: 15px;
  display: flex;

  justify-content: space-around;
}
 .headerFun{
  width:800px;
   display: flex;
justify-content: space-between;
 }
.headerFun a{
  flex-basis: 30%;
}
#header a {

  margin:0px 5px 0 5px;

  font-family: Arial;
  font-size: larger;
  text-decoration: none;

  color: inherit;
  cursor:pointer;;
  position: relative;

}

#header a:hover{
 
    -webkit-transform: scale(1.4);
    margin-left:0 10px 0 102px;
    color: rgba(0, 35, 96, 0.787);
}
 
.header__singUp,.header__LogOut{
  /*left:1000px;*/
}
.header__signIn{
   /*  left:990px;*/

}
.header__home{
   
}
.header__myOrder{
   
}
.header__createAccount{
  
}
#login  {
  margin-top: 5px;
}
#login a{

  font-family:Arial  black;
}
 #homenTitle{


  
 }
 
#Searchwrapper {

  width: 40%;


}

#Searchwrapper #searchbox {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  height: 35px;
  display: flex;
  padding: 4px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

#default_option {
  text-transform: uppercase;
  padding: 8px 4px;
  font-size: 14px;
  border-style: none;
  width: 120px;
}


.fas {
  font-size: 32px;
}

.search_field {
  width: 300px;
  height: 100%;
  margin-right: 50px;

  border-left: 3px solid rgb(147, 154, 160);
}

#searchbox .search_field .input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
  
}
#postTitle{
  margin-bottom: 5px;

}
#titleMostPopularLine{

  
  width:1000px; margin: auto;
  
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
#flex-container {

  display: flex;
  /* flex-flow: row wrap; */


  justify-content: center;
  align-items: center;


  /* align-items: center; */
}

 
 

#header {
  order: 1;
  width: 100%;
   background-color: transparent;
    
}

#menu{

  width: 100%;
  height: 4px;
  
}
#menu a,p{
  float: right;
  margin-right: 50px;
 
  font-family: Arial Black;
  font-size: larger;
  text-decoration: none;
 
    color: inherit; 
 
  
}
#postTitle{

  text-align: center;
  
}
 
#loginScreen{
  background-image: url("./images/homePageBackgroundPic--trump2.png");
 
  width: auto;
  height: 50px;
  background-size:1715px 595px; 
}


#loginForm{
  width:420px;
  height: 380px;
    background-color: aliceblue;
}



#main {
  order: 2;

  /* width: 900px;   */
  width: 700px;
  height: 500px;
 

  font-size: 20px;

  /* flex-grow: 3; */

}

#content1 {

  display: flex;
 
}

#content1Margin {
  height: 500px;
  width: 300px;
  flex-shrink: 5;

}

#imgBox {
 
  width: 500px;
  height: 500px;
 
}
#content1IMG{
  width: auto;
  height: 100%;
}
#content1Annotation {

  width: 200px;
  height: 30%;
  margin: 10px;
  
  flex-shrink: 3;
}

#top10 {

  order: 3;
  width: 300px;
  height: 500px;
  /* ----- (c) ----- */

  /* flex-grow: 3; */
  display: flex;
  flex-flow: row wrap;
}

#top10 div {
  display: flex;
  
}

 


#top10 img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
 
#flex-container2 {
  
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;

  /* align-items: center; */
}

#flex-container2 div {

  width: 250px;
  height: 400px;
  margin-top: 20px;
  margin-right: 20px;

}

#flex-container2 img {

  width: 100%;
  height: auto;


}

#aside {
  order: 4;
  /* width: 150px; */
  width: 310;

  
  /* flex-grow: 1; */
}

#footer {
  order: 5;
  width: 100%;
}
 

#top10 img table {
  display: inline-block;
  margin-bottom: 15px;

}

 
#aside img {

 
  float: right;
}

c #aside div {
  clear: none;
}


 