


#containerOrderList table tbody tr{
  display: table-row!important;
      text-align: left;
 
}
.form-group{

  display: hide;
}
/*table */
 .orderTime{
  position: relative;
  left:-567px;
  margin:5px 0 10px 0;
 }

 .customersActive{
  display: table-row!important;
 }
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
     background-color: #352424;
      color: white;
    }

    
    #reserveTable {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 70%;
     margin-left: 140px;
    
    }

    #reserveTable td,
    #reserveTable th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #reserveTable tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #reserveTable tr:hover {
      background-color: #ddd;
    }

    #reserveTable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #3e1919;
      color: white;
    }
   #reserveTable tr th td {
        text-align: center;

      }
      th {
 
 align-content:center;
 
}




























 

.pagination {
      display: flex;
      padding-left: 0;
      margin: 20px  ;
      border-radius: 4px;
      background-color: #fff;
      color: #000000;
      cursor: pointer;

list-style: none;
    }


    .pagination>li>a,
    .pagination>li>span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;

      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      font-weight: 900;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }



    .paginationPageNumActive {
      background-color: #2196F3 !important;
      color: white;
    }

    .paginationPageNumActive .pagination>li>span {
      background-color: #2196F3 !important;
      color: white;
    }












/* 




 
     .tableContainer  {
margin: 50px;
    padding: 10px;
  width: 1500px;
    height: 600px;
    
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #800000;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    margin: auto;
    top: 100px;
    text-align: center;
    
   
}    */


/* 
.tableContainer table, .tableContainer table tbody {
    width: 1200px;
} */
.mytable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #352424;
    color: white;
}


.mytable td, .mytable th {
    border: 1px solid #ddd;
    padding: 8px;
}
/* .mytable tbody tr:hover ,.mytable tbody tr:nth-child(even):hover {
    background-color: #651818;
    color: white;
} */

.mytable tbody tr:nth-child(even) {
    background-color: #ddd;
}

#reserveTable, tr, th, td, #reserveTable, tr, th, td {
    text-align: center;
}.mytable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}









 
 